version: 2.1

orbs:
  python: circleci/python@2.0.3
  coveralls: coveralls/coveralls@2.2.5

jobs:
  build_and_test:

    docker:
      - image: cimg/python:3.13
        environment:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: challenge
          DATABASE_HOST: 0.0.0.0
          DATABASE_PORT: 5432
          DATABASE_SYNC: true
          POKEMON_API_URL: https://pokeapi.co/api/v2
          COVERALLS_REPO_TOKEN: vVAWEUVXyNEVncvV4QjLH28uwyWKE8TC8
      - image: cimg/postgres:14.11
        environment:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: challenge
    working_directory: ~/project
    steps:
      - checkout
      - run:
          name: Map service hostname 'db' to localhost
          command: |
            echo "127.0.0.1 db" | sudo tee -a /etc/hosts
      - run:
          name: Install Postgres client
          command: |
            sudo apt-get update
            sudo apt-get install -y postgresql-client
      - python/install-packages:
          pkg-manager: poetry
          app-dir: ~/project/backend
      - run:
          name: Wait for Postgres
          command: |
            for i in {1..60}; do
              pg_isready -h 127.0.0.1 -p 5432 -U user && break
              sleep 2
            done
      - run:
          name: Run tests
          command: |
            export DATABASE_URL="postgresql://user:password@127.0.0.1:5432/challenge"
            cd backend
            poetry run pytest -vv --disable-warnings --cov=app --cov-report=xml --cov-report=term
      - run:
          name: Verify coverage file exists
          command: |
            if [ ! -f backend/coverage.xml ]; then
              echo "Error: coverage.xml not found!"
              exit 1
            fi
            echo "Coverage file found at backend/coverage.xml"
            ls -lh backend/coverage.xml
      - coveralls/upload:
          coverage_file: backend/coverage.xml
          flag_name: "python-tests"
          verbose: true

workflows:
  build_test:
    jobs:
      - build_and_test